bia-bob
czifile
dask
ipykernel
ipywidgets
joblib
jupyterlab
keras
matplotlib
notebook
numcodecs
numpy
pandas
plotly
polars
pyocclient
python-dotenv
scipy
scikit-image
scikit-learn
scikit-optimize
seaborn
sphinx
stackview
tabulate
tensorflow
tqdm
zarr
